/* Base */
*, *::after, *::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    width: 100dvw; 
    display: flex; 
    place-content: center;
}

/* Variables */
:root, * {
    --clr-secondary-50: #D3DAF9; 
    --clr-secondary-60: #ABB4DD; 
    --clr-secondary-70: #707DBF; 
    --clr-secondary-90: #5562A2; 
    --clr-secondary-100: #37437D; 
    --clr-secondary-110: #1C2346; 

    --clr-primary-30: #FDEDFE;
    --clr-primary-40: #FCE2FE;
    --clr-primary-50: #FCD3FE;
    --clr-primary-90: #F589FA;
    --clr-primary-100: #F26CF9;
    --clr-primary-150: #f200ff;

    --clr-yellow-90: #FFEFC3;
    --clr-yellow-100: #FFCA39;

    --clr-grey-10: #FFFFFF;
    --clr-grey-20: #F7F7F7;
    --clr-grey-30: #EDEDED;
    --clr-grey-40: #E0E0E1;
    --clr-grey-50: #C3C3C4;
    --clr-grey-60: #9F9FA1;
    --clr-grey-70: #777779;
    --clr-grey-80: #636365;
    --clr-grey-90: #434345;
    --clr-grey-100: #1E1E20;

    --clr-cool-grey-10: #EEEFFF; 
    --clr-cool-grey-20: #E4E5F5; 
    --clr-cool-grey-30: #DDDEED; 
    --clr-cool-grey-40: #D1D2E0; 
    --clr-cool-grey-50: #B0B1BD; 
    --clr-cool-grey-60: #8F8F99; 
    --clr-cool-grey-70: #72737A; 
    --clr-cool-grey-80: #56565C; 
    --clr-cool-grey-90: #39393D; 
    --clr-cool-grey-100: #131314; 

}

/* Typography */
body {
    font-family: 'Inter', sans-serif; 
    font-size: 12px; 
    font-weight: 400; 
    color: var(--clr-grey-100); 
}

h1 {
    font-size: 32px; 
}

h2 {
    font-size: 28px; 
}

h3 {
    font-size: 26px; 
}

h4 {
    font-size: 24px; 
}

h5 {
    font-size: 22px; 
}

h6 {
    font-size: 20px; 
}

.title-text {
    line-height: 1.2;
}

.body-text {
    line-height: 1.24; 
}

.btn-text {
    line-height: 1; 
}

.bold {
    font-weight: 700; 
}

.semi-bold {
    font-weight: 600; 
}

.medium {
    font-weight: 500; 
}

.light {
    font-weight: 300; 
}

/* Layouts */
.center-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    background-image: url(../public/images/pexels-joshsorenson-154147.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;

    .photo-byline {
    place-self: end;
    padding: 1rem; 
    color: var(--clr-primary-30);
}
    
    @media (min-width: 768px) {
        background-position: 25%;
    }

    @media (min-width: 1200px) {
        background-position: 0;
    } 
}

.grid-wrapper {
    height: 100dvh;
    width: 100dvw;
    display: grid; 
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    gap: 1rem; 
    padding: 1rem; 
    

    @media (min-width: 768px) {
        grid-template-columns: 72px 1fr; 
        grid-template-areas:    "nav header"
                                "nav main"
                                "nav footer";
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 4fr; 
        max-width: 1140px;
    } 
}


/* Buttons */
.btn {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: .2rem; 
    border-radius: 30;
    border: none; 
    background-color: transparent; 
    cursor: pointer;
}

.btn-round {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none; 
    background-color: transparent; 
    cursor: pointer;
}

.btn-round-small {
    font-size: 10px; 
    padding: 6px; 
}

.btn-round-medium {
    font-size: 12px; 
    padding: 7px; 
}

.btn-round-large {
    font-size: 14px; 
    padding: 9px; 
}

.btn-round-xl {
    font-size: 16px; 
    padding: 10px; 
}

.btn-small {
    font-size: 10px; 
    padding: 6px, 10px; 
}

.btn-medium {
    font-size: 12px; 
    padding: 8px, 14px; 
}

.btn-large {
    font-size: 14px; 
    padding: 10px, 16px; 
}

.btn-pink {
    background-color: var(--clr-primary-100);
    color: var(--clr-grey-10);

    &:hover,
    &:active {
        background-color: var(--clr-primary-90);
        color: var(--clr-grey-20);
    }
}

.btn-grey {
    background-color: var(--clr-cool-grey-20);
    color: var(--clr-secondary-100);
    
    &:hover,
    &:active {
        background-color: var(--clr-cool-grey-20);
    }
}

.btn-blue {
    background-color: var(--clr-secondary-100);
    color: var(--clr-grey-10);
    
    &:hover,
    &:active {
        background-color: var(--clr-secondary-90);
    }
}

.btn-border {
    background-color: transparent;
    color: var(--clr-grey-90);
    border: 1px solid var(--clr-grey-30); 

    &:hover,
    &:active {
        color: var(--clr-grey-100);
        border: 1px solid var(--clr-grey-50); 
    }
}

.btn-no-border {
    color: var(--clr-grey-90);

    &:hover,
    &:active {
        background-color: var(--clr-grey-30);
        color: var(--clr-grey-100);
    }
}

/* Details */
.round-icon-holder {
    display: flex; 
    border-radius: 50%;
    height: 44px; 
    width: 44px; 
    aspect-ratio: 1;
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
}

.square-icon-holder {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 30px; 
    width: 30px; 
    aspect-ratio: 1;
    font-size: 1rem; 
    background-color: var(--clr-grey-10); 
    color: var(--clr-secondary-100); 
    border-radius: 6px; 
}

.horizontal {
    display:flex; 
    flex-direction: horizontal;
    gap: 1rem;
    align-items: center; 
}

/* Nav */
.nav {
    display: none; 
    
    @media (min-width: 768px) {
        display: flex; 
        flex-direction: column; 
        grid-area: nav;
        background-color: var(--clr-cool-grey-10);
        padding-top: .8rem; 
        padding-bottom: .5rem;
        padding-left: .4rem;
        padding-right: .5rem; 
        border-radius: 16px;
        justify-content: space-between;

        #logo-text {
            display: none; 
        }

        .nav-list {
            display: none; 
        }

        .nav-list-tablet {
            display: flex; 
            flex-direction: column;
            padding: .3rem; 
            gap: .5rem; 
            
            .nav-link {
                font-size: 20px; 
            }

            .btn {
                color: var(--clr-secondary-100); 
                background-color: transparent;

                &:active,
                &:hover {

                    .nav-link {
                        color: var(--clr-grey-10);
                    }
                    
                    background-color: var(--clr-primary-100);
                } 
            }
        }

        #btn-round-signout {
            font-size: 20px; 
            width: 40px;
            color: var(--clr-secondary-100); 
            font-weight: 700; 
            padding: .5rem;
            margin: .5rem; 
        }

        #btn-signout {
            display: none; 
        }
    }

    @media (min-width: 1200px) {
        padding: 1rem; 

        .nav-list {
            display: flex; 
        }

        .nav-list-tablet {
            display: none; 
        }
        
        #logo-icon {
            display: none; 
        }

        #logo-text {
            display: block; 
        }

        #btn-round-signout {
            display: none; 
        }

        #btn-signout {
            display: flex;

        }
    }

    .btn {
        display: flex; 
        flex-direction: row; 
        gap: .5rem; 
        justify-content: center;
    }
}

.logo-holder {
    display: flex; 
    gap: 1rem; 
    padding: 1rem;
    padding-bottom: 2rem; 
}

.nav-list {
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    list-style: none;  
    font-size: 20px;
    justify-content: start;
    padding-left: 1rem;
}

.nav-link {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    gap: .5rem; 
    color: var(--clr-secondary-100); 

    p {
        font-size: 14px;
    }

    &:active,
    &:hover {
        color: var(--clr-primary-100);
    } 
} 
    
/* Header */
.header {  
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-grey-20); 
    padding: 1rem; 
    
    border-radius: 16px; 

    @media (min-width: 768px) {
        grid-area: header; 
    }
}

.logo-holder-mobile {
    display: flex; 

    @media (min-width: 768px) {
        display: none;
    }
}

.search-field-container {
    display: none;  

    @media (min-width: 1200px) {
        display: flex; 
        position: relative; 
    }
}

.looking-glass {
    position: absolute; 
    top: .6rem; 
    right: .8rem; 
    font-size: 24px;
    cursor: pointer; 
}

.search-bar {
    border-radius: 16px; 
    padding: .8rem 1rem; 
    width: 300px; 
    border: none; 
    font-family: "Inter", sans-serif;

    &::placeholder {
        font-family: "Inter", sans-serif;
        color: var(--clr-grey-60);
    }
}

.breadcrumb-container {
    display: none; 

    @media (min-width: 1200px) {
        display: flex; 
        flex-direction: row; 
    }
}

.breadcrumb {
    display: flex; 
    flex-direction: row;
    list-style: none;
    gap: 1rem; 
}

.current-page-title {
    color: var(--clr-secondary-100);
    font-size: 16px; 
    justify-self: center;

    @media (min-width: 768px) {
        font-size: 24px; 
    }
}

.buttons-holder {
    display: none; 

    @media (min-width: 768px) {
        display: flex;
        gap: .5rem; 
    }
}

#btn-hamburger {
    display: flex;
    font-size: 20px; 
    padding: 0;

    @media (min-width: 768px) {
        display: none;
    }
}

#btn-search {
    @media (min-width: 1200px) {
        display: none;
    }
}

/* Main */
.main {
    background-color: var(--clr-grey-20);
    border-radius: 16px; 
    display: flex;
    justify-content: center; 
    align-items: start;  
    padding: .5rem;

    @media (min-width: 768px) {
        grid-area: main; 
    }
    
}

/* Footer */
.footer {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background-color: var(--clr-grey-20);
    padding: 1rem; 
    border-radius: 16px;
    gap: .2rem;

    @media (min-width: 768px) {
        max-height: 3rem;
        grid-area: footer; 
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-text {
    font-size: 12px;
    color: var(--clr-grey-70);
}

.links-container {
    display: flex; 
    flex-direction: row; 
    align-items: center;

     @media (min-width: 768px) { 
        gap: 1rem;
     }
}

.footer-link {
    color: var(--clr-grey-50);
}

/* Cards */
.card {
    display: flex; 
    margin: .5rem; 
    padding: .5rem; 
    border-radius: 1rem; 
    background-color: var(--clr-grey-10);
}

/* Forms */
.form-container {
    background-color: var(--clr-grey-10);
    border-radius: 16px; 
    border: none; 
    margin: auto; 
}

.form {
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    gap: .5rem;
}

.form-header {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: .5rem; 
    text-align: center; 
    gap: 1rem; 
}

.form-info {
    padding: .5rem; 
    display: flex; 
    flex-direction: column; 
    gap: .5rem; 
}

.form-group {
    display: flex; 
    flex-direction: column;

    label {
        font-family: "Inter", sans-serif;
        padding: .5rem; 
    }
}

.form-input-group {
    position: relative; 

    input,
    select, 
    textarea {
        font-family: "Inter", sans-serif;
        width: 100%;
        border: 1px solid var(--clr-cool-grey-30); 
        border-radius: 10px; 
        padding: .5rem; 

        &::placeholder {
            font-family: "Inter", sans-serif;
            color: var(--clr-grey-60);
        }
    }
}

.form-validation {
    padding-inline: .5rem;
    color: var(--clr-primary-150)
}

.form-input-checkbox-group {
    display: flex; 
    gap: .5rem; 
    padding: .5rem; 
}

/* StartPage */
.headline-container {
    padding-top: 10rem; 

    @media (min-width: 768px) {
        padding-top: 16rem; 
    }
}

.headline {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 1rem; 
    padding-bottom: 1rem;

    .headline-logo {
        height: 60px; 
    }

    h1 {
        color: var(--clr-secondary-100);
        font-size: 60px; 
        font-weight: 500; 
    }

    @media (min-width: 768px) {
        .headline-logo {
            height: 100px; 
        }

        h1 {
            font-size: 100px; 
        }
    }

    @media (min-width: 1200px) {
        .headline-logo {
            height: 150px; 
        }

        h1 {
            font-size: 150px; 
        }
    } 
}

.teaser {
    align-items: center; 
    padding: 0rem 2rem 2rem 1rem;
    
    h4 {
        text-align: center;
        color: var(--clr-secondary-100); 
    }
}

.button-container {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 1rem; 
    padding-block: 2rem; 

    @media (min-width: 768px) {
        padding-block: 0; 
    }

    @media (min-width: 1200px) {
        
    } 
}

/* SignUp Page */
.signup-form-container {
    width: 80%;

    @media (min-width: 768px) {
        width: 40%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    } 
}

/* SignIn Page */

.signin-form-container {
    width: 80%;

    @media (min-width: 768px) {
        width: 40%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    } 
}

/* Verify Page */
.verify-form-container {
    width: 80%; 

    @media (min-width: 768px) {
        width: 40%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    } 

    .verify-form {

        .btn-blue {
            margin-top: 1rem;
        }
    }
}

/* Dashboard */
.dashboard-main {
    flex-direction: column;
    width: 100%; 
    padding: .5rem; 
    gap: 1rem; 
}

.fast-fact-container {
    display: flex;
    flex-direction: row;
}

.card-facts {
    flex-direction: column;
    justify-content: space-between; 
    flex: 1; 
    gap: .5rem; 
    p {
        color: var(--clr-grey-60);
    }
}

.upcoming-events-container {
    flex-direction: column; 
    display: flex; 
    gap: 1rem; 

    
}

.upcoming-headline {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: .5rem; 
}

.event-card-holder {
    display: flex; 
    flex-direction: column; 

    @media (min-width: 768px) {
        flex-direction: row; 
    }
}

.event-card {
    flex-direction: column;

    height: 350px; 
    padding: 0; 
    margin-bottom: 1rem;
    background-color: var(--clr-cool-grey-10);

    @media (min-width: 768px) {
        flex: 1;
    }
}

.event-card-image {
    flex: 1; 

    img {
        object-fit: cover; 
        overflow: hidden; 
        height: 180px; 
        width: 100%; 
        border-radius: 1rem 1rem 0 0; 
    }
}

.event-card-info {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    padding: 1rem; 
    gap: .5rem; 

    .event-title-text {
        font-size: 16px; 
        color: var(--clr-grey-90);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; 
        
    }

    .location-text {
        font-size: 11px;
        color: var(--clr-grey-80);
    }

    .description-text {
        color: var(--clr-grey-90);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }  

    .detail-info {
        padding-top: 1rem; 
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }

    .date-info {
        font-size: 11px; 
    }

    .time-info {
        display: flex; 
        flex-direction: column; 
        font-size: 11px; 
    }
}

.recent-activity-card {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

.notification {
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
}

.notification-message {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Events */
.events-page {
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
}

.events-header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: start; 
    padding: 1rem; 
}

.events-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}

/* Add Event */
.add-event-form-container {
    width: 80dvw;

    @media (min-width: 768px) {
        width: 40dvw;
    }

    @media (min-width: 1200px) {
        width: 30dvw;
    } 
}

/* Orders */

/* Venues */
.venues-page {
    display: flex; 
    flex-direction: column; 
}

.venues-header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
}

.venues-container {
    display: flex; 
    flex-direction: column; 
}

.venue-table-header {
    display: none; 

    @media (min-width: 768px) {
        margin: .5rem; 
        padding: .5rem; 
        border-radius: 1rem; 
        background-color: var(--clr-grey-10);
        display: grid; 
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
        width: 100dvh; 
    }
}

.venue-card {
    display: flex; 
    flex-direction: column; 
    width: 100dvh; 


    @media (min-width: 768px) {  
        display: grid; 
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    }
}